[submodule "home/.vim/pack/ctrlpvim/start/ctrlp.vim"]
	path = home/.vim/pack/ctrlpvim/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "home/.vim/bundle/vim-python-pep8-indent"]
	path = home/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
	branch = master
[submodule "opsy/.scm_breeze"]
	path = home/.local/share/scm_breeze
	url = https://github.com/scmbreeze/scm_breeze.git
	branch = master
[submodule "opsy/.local/share/pyenv"]
	path = opsy/.pyenv
	url = https://github.com/pyenv/pyenv.git
	branch = master
[submodule "home/.vim/pack/plugins/start/rust.vim"]
	path = opsy/.vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
