# Computer specific configuration
# Global in .config/git/config

[user]
	email = gaetan.harter@opensynergy.com
	name = Gaetan Harter
[color]
	ui = auto

[sendemail]
	smtpUser = gha@opensynergy.com
	smtpServer = smtp.office365.com
	smtpEncryption = tls
	smtpServerPort = 587
[credential]
	helper = cache --timeout 3600
