# In .config/git/config put your personnal configuration
#
# [user]
# 	email = email@addre.sse
# 	name = Your Name

[push]
	default = upstream
[alias]
	l = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	crepe = grep
	curbranch = rev-parse --abbrev-ref HEAD
[pull]
	rebase = preserve
[rerere]
	autoupdate = true
	enabled = true
[user]
	signingkey = 52F772ECAC892F69
[gpg]
	program = /usr/bin/gpg2
[diff]
	colorMoved = default
