# In .config/git/config put your personnal configuration
#
# [user]
# 	email = email@addre.sse
# 	name = Your Name

[push]
	default = upstream
[alias]
	l = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	crepe = grep
[pull]
	rebase = preserve
[rerere]
	autoupdate = true
	enabled = true
