[Unit]
Description=Load dock tunnel sink
After=pipewire-pulse.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pactl load-module module-tunnel-sink server=tcp:dock.fritz.box sink=alsa_output.usb-Native_Instruments_Komplete_Audio_6_MK2_AF12D80C-00.analog-surround-21
ExecStop=/usr/bin/pactl unload-module module-tunnel-sink
RemainAfterExit=yes

[Install]
WantedBy=default.target
